@model MusicSemestrWork.Models.User;
@{
    Layout = "_Layout";
}


<form class="container" style="display: flex; flex-direction: row; margin-bottom: 50px; margin-top: 50px;" asp-action="Settings" asp-controller="Account" method="post" enctype="multipart/form-data">

    <!-- 1 column -->
    <div style="display: flex; flex-direction: column; justify-content: start; align-items: center; height: 80%; width: 40%">
        <div style=" height: 100px; width: 100px;">
            @if (Model.Avatar != null)
            {
                <img style='width:200px; height:200px;margin-top:10px' src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Avatar))" />
            }
            else
            {
                <img src="~/pic/acc1.png" style="width:200px; height:200px;margin-top:10px" />
            }

            <p>Пользователь: @Model.Username</p>
            @if (Model.Birthday != null)
            {
                <p>Дата рождения : @Model.Birthday</p>
            }
        </div>
    </div>

    <!-- 2 col -->
    <div class="container" style="display: flex; flex-direction: column; justify-content: start; align-items: flex-start; height: 80%; width: 60%">
        <div style="width: 100%">
            <p style="font-size: 30px;">Мой аккаунт</p>
            <p>Посмотрите и отредактируйте сведения о себе</p>
        </div>

        <div style="width: 100%; margin-top: 5px;">
            <p style="font-size: 30px;">Открытая информация</p>
            <p>Карточка профиля видна всем пользователям этого сайта</p>
            <p>Имя пользователя</p>
            <input type="text" name="name" value="@Model.Username" style="color: black;">
        </div>



        <div style="width: 100%;  margin-top: 5px;">
            <p style="font-size: 30px;">Аккаунт</p>
            <p style="">Обновите и редактируйте информацию, которой вы делитесь с сообществом</p>
            <p>Ваш никнейм</p>
            <input type="text" name="Username" value="@Model.Username" style="color: black;">
            @*class="form-control"*@
            <p style="margin-top: 5px; display: flex; flex-direction: column;">
                <label>Change password</label>
                <input name="CurrentPassword" type="text" placeholder="Current password" style="color: black;" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,15}$"/>
                <input name="NewPassword" type="text" placeholder="New password" style="margin-top: 10px; color:black;" />
            </p>
            @*class="datepicker"*@
            <p>Дата рождения</p>


            <input type="text" name="Birthday" id="date" style="color: black;" value="@Model.Birthday" />
            <link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.min.css">
            @section scripts{
                <script src="~/lib/jquery-ui/external/jquery/jquery.js"></script>
                <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
                <script>$(function () {
                        $("#date").datepicker();
                    })

                    $(function () {
                        $(".datepicker").datepicker();
                    })</script>
            }


            <div class="custom-file" style="margin-top: 20px;">
                <input type="file" class="custom-file-input" id="customFile" name="Avatar" style="background-color: #889382; color: white;">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>

            <p style="margin-top: 20px;">
                <input type="submit" value="Submit" class="btn registration-button" style="background-color: #889382; color: white; " />
            </p>



        </div>

    </div>

</form>

<nav class="navbar fixed-bottom navbar-light bg-dark">
    <a class="navbar-brand" href="#">Fixed bottom</a>
</nav>